<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đổi mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
<!-- Register Account Start -->
<div class="register-account ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="register-title">
                    <h3 class="mb-10">Change Password</h3>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">

                <form class="form-register" action="/auth/change-password" method="post">
                    <fieldset>
                        <legend>Please enter the following information: </legend>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="email"><span
                                        class="require"></span>Email:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="password"><span
                                        class="require"></span>Password:</label>
                            <div class="col-md-5">
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="password1"><span
                                        class="require"></span>New Password:</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="passwordChange"
                                       oninput="check()" id="password1" placeholder="Password"
                                       minlength="5" maxlength="40" required>
                            </div>
                            <label class="control-label col-md-5" id="checkPassword3"
                                   style="text-align: left; color: orange;"></label>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="password2"><span
                                        class="require"></span>Re-Password</label>
                            <div class="col-md-5">
                                <input type="password" oninput="check()"
                                       class="form-control" id="password2"
                                       placeholder="Re-Password" minlength="5" maxlength="40"
                                       required>
                                <p id="wrongPassword"></p>
                            </div>
                            <label class="control-label col-md-5" id="retypePassword"
                                   style="text-align: left; color: orange;"></label>
                        </div>
                    </fieldset>
                    <div class="terms">
                        <div class="float-md-center">
                            <button id="button" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
</body>
<script>
    function check() {
        let pass1 = document.getElementById('password1').value
        let pass2 = document.getElementById('password2').value
        let button = document.getElementById('button')
        let input = document.getElementById('wrongPassword')
        if (pass1 === pass2) {
            button.disabled = false;
            input.innerHTML = '<p class="text-success">Password matches</p>'
        }else {
            button.disabled = true;
            input.innerHTML = '<p class="text-danger">Password doesn\'t match</p>'
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</html>