<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Responsive Login and Signup Form </title>-->

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="css/sb-admin-2.min.css">
</head>
<body>

<!--<div class="wrapper container" style="" >-->
<!--      <div class="row-cols-6">-->
<!--        <h3>Search your account</h3>-->
<!--        <br>-->
<!--        <h3>Please enter email or phone number to search your account</h3>-->
<!--      </div>-->
<!--      <div class="row-cols-6">-->
<!--        <form action="/auth/password/email" method="POST" enctype="multipart/form-data" class="">-->
<!--          <div class="field">-->
<!--            <input type="text" placeholder="Email or number phone" required name="email">-->
<!--          </div>-->
<!--          <div class="field btn">-->
<!--            <div class="btn-layer"></div>-->
<!--            <a href="/auth/login"><button type="submit">Cancel</button></a>-->
<!--          </div>-->
<!--        </form>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<form rel="async" id="identify_yourself_flow" action="/ajax/login/help/identify.php?ctx=recover" method="post" onsubmit="">
  <input type="hidden" name="jazoest" value="2879" autocomplete="off"/>
  <input type="hidden" name="lsd" value="AVpyBc-y3A0" autocomplete="off"/>
  <div class="container" style="align-content: center">
    <div class="row col-6">
      <div class="col-6">
          <h3>Search your account</h3>
        <br>
          <h3>Please enter email or phone number to search your account</h3>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Email or phone number">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-dark">Cancel</button>  <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</form>

</body>
</html>